body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: none;
}
h1 span{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,  tomato);
    padding: 10px 13px;
    color: white;
    font-weight: 600;   
    border-radius: 6px;
}